.testimonial {
	background-size:cover;
	padding:100px 0;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../images/testimonial-bg.jpg);
	position:relative;

	.overlay {
		position:absolute;
		height:100%;
		width:100%;
		left:0;
		top:0;
		background:rgba($brand-dark, 0.85);
		z-index: 10;
	}

	.content {
		position:relative;
		z-index:50;
		text-align:center;
		color:#ffffff;
		width:660px;
		max-width:100%;
		margin:0 auto;
		padding:0 50px;

		i {
			font-size:20px;
			position:absolute;
			left:0px;
			top:0;
			opacity: 0.5;

			&.fa-quote-right {
				left:auto;
				right:0px;
			}
		}

		h4 {
			font-size:20px;
			margin:10px 0 10px 0;
		}

		p {
			font-style: italic;
			margin-bottom:30px;
		}
	}

}